@page
@*@model IndexModel*@
@{
    //Layout = "_Layout";           // Actually, View/_ViewStart.cshtml is created instead, to be applied for every View inside 'Views' folder
    ViewBag.Title = "Home Page";
}
<!--Shift+Alt+W   to wrap block with <div>-->
<h2>The World!</h2>
<div class="col-md-3 col-md-offset-4">
    <form id="locationForm">

        <div class="form-group">
            <label>Date</label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label>Location</label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <a class="btn btn-default" asp-controller="Home" asp-action="Index">Cancel</a>
            <button type="submit" class="btn btn-success">Add</button>
        </div>
    </form>
</div>

@*Below will work after _Layout.cshtml has  RenderSection() specified after jquery is initialized *@
@section  scripts{
    <script>
        var eleUserName = $("#username");
        eleUserName.html("Denys Holovin - modified");
    </script>
}